.login-form {
    width: 500px;
    height: 450px;
    display: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    border-radius: 18px; /* 隐藏多余的模糊效果*/
  }

  .login-form h1 {
    font-size:35px;
    font-weight: 400;
    color: #ffffff;
  }

  .login-form h2 {
    font-size:15px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 15px;
    color: #ffffff;
    text-align: left;
  }
  
  .login-form input{
    margin: 6px 0;
    width: 400px;
    margin-top: 80px;
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 0 14px;
    color: #ffffff;
  }

  .Login-button{
    margin-top: 30px;
    height: 35px;
    width: 200px;
    margin-right: 0px;
    font-size: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
  }

  .Reset-button{
    margin-top: 30px;
    height: 35px;
    width: 200px;
    margin-right: 0px;
    font-size: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .login-form ::placeholder {
    color: rgba(247, 247, 247, 0.274);
  }

  .login-form button:hover {
    background-color: rgba(12, 80, 38, 0.67);
  }
  